<a href="https://vevericka.app/">
  <img src="https://ucarecdn.com/c66bed80-51e6-4d29-a885-0759eac27b66/"  alt="Vevericka"/>
</a>

<p>Dear {{name}},</p>
<p>You have signed in to Vevericka.</p>
<p>If you think there's a problem, you can contact us.</p>
<p>Best regards,</p>
<p>Vevericka Team</p>
